
    <div class="page-section pt-4">
      <div class="container">
         
            <div class="blog-single-wrap">
              <div class="post-thumbnail news-blog-img">
              {{ content.field_news_blog_img }}
              </div>
              <h1 class="post-title">{{ content.field_new_blog_title }}</h1>
              <div class="post-meta">
                <div class="post-author">
                    <div class="row">
                  <span class="text-grey">By</span> <a href="#">{{ content.field_news_blog_user }}</a>  
               </div>
                </div>
                <span class="gap">|</span>
                <div class="post-date">
                  <a href="#">{{ content.field_news_blog_date }}</a>
                </div>
                <span class="gap">|</span>
                <div>
                  <a href="#">{{ content.field_news_blog_address }}</a> 
                </div>
                
              
              </div>
              <div class="post-content">
                <p>{{ content.field_news_blog_description }}</p>
               
              </div>
             
            </div> <!-- .blog-single-wrap -->

           <!-- .comment-form-wrap -->
          </div>
        
    
        </div>
        