{%
  set searchclasses = [
    '',
    'text',
    'container-inline',
  ]
%}
<div class="page-section pt-4">
<div class="widget">
  <div class="widget-box">
    <h3 class="widget-title">Search</h3>
    <div class="divider"></div>
<div{{ attributes.addClass(searchclasses) }}>
  
  {{ title_prefix }}
  {% if label %}
    <!-- <h2{{ title_attributes }}>{{ label }}</h2> -->

  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
</div>
</div>
</div>
